version: '3.8'

services:
  tidb:
    image: pingcap/tidb:latest
    ports:
      - "4000:4000"
      - "10080:10080"
    volumes:
      - tidb_data:/data
  
  initdb:
    image: mysql:8
    depends_on:
      - tidb
    volumes:
      - ./db/db.sql:/docker-entrypoint-initdb.d/db.sql
      - ./db/init-db.sh:/init-db.sh
    entrypoint: ["/init-db.sh"]

  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper

  backend:
    build: ./server
    environment:
      - DB_HOST=tidb
      - DB_USER=root
      - DB_PASSWORD=
      - DB_NAME=app
      - JWT_SECRET=mysecret
      - PORT=3000
    ports:
      - "3000:3000"
    depends_on:
      - tidb
      - kafka

  consumer:
    build: ./consumer
    depends_on:
      - kafka

volumes:
  tidb_data:

